body {
    background-color: rgb(218, 216, 213);
}

.cv {
    background-color: rgb(255, 255, 255);
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    box-shadow: 10px 10px 40px -1px rgba(0, 0, 0, 0.23);
}